@font-face {
  font-family: 'tornado-icon';
  src:  url('tornado-icon.eot?q3sp51');
  src:  url('tornado-icon.eot?q3sp51#iefix') format('embedded-opentype'),
    url('tornado-icon.ttf?q3sp51') format('truetype'),
    url('tornado-icon.woff?q3sp51') format('woff'),
    url('tornado-icon.svg?q3sp51#tornado-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="toi-"], [class*=" toi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tornado-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toi-heart:before {
  content: "\e91d";
}
.toi-arrow-down:before {
  content: "\e900";
}
.toi-arrow-down-circle:before {
  content: "\e901";
}
.toi-arrow-down-circle2 .path1:before {
  content: "\e902";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.toi-arrow-down-circle2 .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.toi-arrow-down-circle2 .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.toi-arrow-left-circle .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.toi-arrow-left-circle .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.toi-arrow-left-circle .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.toi-arrow-right-circle .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.toi-arrow-right-circle .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.toi-arrow-right-circle .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.toi-arrow-up:before {
  content: "\e90b";
}
.toi-arrow-up-circle2 .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.toi-arrow-up-circle2 .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.toi-arrow-up-circle2 .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.toi-bag:before {
  content: "\e90f";
}
.toi-caliber:before {
  content: "\e910";
}
.toi-ceramic:before {
  content: "\e911";
}
.toi-facebook:before {
  content: "\e912";
}
.toi-instagram:before {
  content: "\e913";
}
.toi-line:before {
  content: "\e914";
}
.toi-menu:before {
  content: "\e915";
}
.toi-shaphire:before {
  content: "\e916";
}
.toi-telephone:before {
  content: "\e917";
}
.toi-tornado-logo:before {
  content: "\e918";
}
.toi-twitter:before {
  content: "\e919";
}
.toi-user:before {
  content: "\e91a";
}
.toi-water:before {
  content: "\e91b";
}
.toi-youtube:before {
  content: "\e91c";
}
